html, body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.card  ul li {
    list-style-type: none;
}

.card {
    background:whitesmoke;
    width: 70%;
    margin: 0 auto;
    border-radius: 30px;
    line-height: 30px;
    padding: 2rem 0 0 0;
    font-size: 1.5rem;

}

.card em {
    color: gray;
    font-size: 1rem;
}